@*@using Kendo.Mvc.UI.Fluent
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @{

        <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.common.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />

        <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jszip.min.js")"></script>

        <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.core.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.web.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.aspnetmvc.min.js")"></script>

    }


    @using (Html.BeginForm())
    {
        <main id="main-container">
            <!-- Page Content -->
            <div class="content">
                <!-- Dynamic Table Full -->
                <div class="block">
                    <div class="block-header">
                        <div class="row">
                            <div class="col-xs-6">
                                <h1 class="block-title">@NIMBOLE.GlobalResources.Resources.OrganizationHierarchy</h1>
                            </div>



                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6 form-group">
                                                    @(Html.Kendo().TreeView()
                                .Name("treeview")
                                .Events(events => events.Drop("onDropOrgTreeView"))
                                .DragAndDrop(true)
                                .ExpandAll(true)
                                .HtmlAttributes(new { @class = "demo-section" })
                                        .BindTo((IEnumerable<NIMBOLE.Models.Models.OrgHierarchyModel>)ViewBag.inlineDefault,
                                (Kendo.Mvc.UI.Fluent.NavigationBindingFactory<TreeViewItem> mappings) =>
                                {
                                    mappings.For<NIMBOLE.Models.Models.OrgHierarchyModel>(binding => binding.ItemDataBound((item, category) =>
                                        {
                                            item.Id = category.Id.ToString();
                                            item.Text = category.OrgFullName;
                                        })
                                        .Children(category => category.lstOrgHierarchyModel));

                                    mappings.For<NIMBOLE.Models.Models.OrgHierarchyModel>(binding => binding.ItemDataBound((item, subCategory) =>
                                    {
                                        item.Text = subCategory.OrgFullName;
                                    }));
                                })
                                                    )
                                                </div>

                                                <div class="col-lg-6 form-group">
                                                    @(Html.Kendo().TreeView()
                                .Name("treeviewNew")
                                .Events(events => events.Drop("onDropOrgTreeView"))
                                .DragAndDrop(true)
                                .ExpandAll(true)
                                .HtmlAttributes(new { @class = "demo-section" })
                                .BindTo((IEnumerable<NIMBOLE.Models.Models.OrgHierarchyModel>)ViewBag.inlineDefaultNew,
                                (Kendo.Mvc.UI.Fluent.NavigationBindingFactory<TreeViewItem> mappings) =>
                                {
                                    mappings.For<NIMBOLE.Models.Models.OrgHierarchyModel>(binding => binding.ItemDataBound((item, category) =>
                                        {
                                            item.Id = category.Id.ToString();
                                          //  item.Parent = category.ParentId.ToString();
                                            item.Text = category.OrgFullName;
                                        })
                                    );
                                })
                                                    )
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div>
                                                    @(Html.Kendo().ContextMenu()
                              .Name("Menu")
                              .Target("#treeview .k-group .k-item .k-in")
                              .AlignToAnchor(true)
            //.Items(items =>
            //{
            //    items.Add().Text(@NIMBOLE.GlobalResources.Resources.New);
            //    items.Add().Text(@NIMBOLE.GlobalResources.Resources.Edit);
            //    items.Add().Text(@NIMBOLE.GlobalResources.Resources.Delete);
            //})
                           .Events(e => e.Select("SelectedContextMenu"))
                                                    )
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <style>
            #menu h2 {
                font-size: 1em;
                text-transform: uppercase;
                padding: 5px 10px;
            }

            #template img {
                margin: 5px 20px 0 0;
                float: left;
            }

            #template {
                width: 380px;
            }

                #template ol {
                    float: left;
                    margin: 0;
                    padding: 10px 10px 0 10px;
                }

                #template:after {
                    content: ".";
                    display: block;
                    height: 0;
                    clear: both;
                    visibility: hidden;
                }

                #template .k-button {
                    float: left;
                    clear: left;
                    margin: 5px 0 5px 12px;
                }

            .treeview-back {
                float: left;
                width: 220px;
                margin: 30px;
                padding: 20px;
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
                box-shadow: 0 1px 2px rgba(0,0,0,0.45), inner 0 0 30px rgba(0,0,0,0.07);
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
            }

            .demo-section {
                width: 300px;
                min-height: 25px;
                min-width: 300px;
            }

            #treeview {
                padding-bottom: 100px;
            }

            #listview-context-menu {
                padding: 0;
                margin-bottom: -1px;
                min-height: 300px;
            }

            .product {
                position: relative;
                height: 62px;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid rgba(128,128,128,.3);
            }

                .product img {
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    margin: 10px;
                    border: 1px solid #000;
                    float: left;
                }

                .product h3 {
                    margin: 0;
                    padding: 15px 5px 1px 0;
                    overflow: hidden;
                    line-height: 1em;
                    font-size: 1.1em;
                    font-weight: bold;
                }

                .product p {
                    font-size: .9em;
                }

                .product .date {
                    float: right;
                    margin: -8px 15px 0 0;
                }

            .k-listview:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

            .k-window div.k-window-content {
                overflow: hidden;
            }
        </style>


        <script>
            var menu = $("#menu").data("kendoMenu");
            var treeview;
            //var selectedItem = $(".k-state-selected").text();
            var selectedItem = "";
            var newDialog, editDialog, deleteDialog;
            $(document).ready(function () {
                newDialog = $("#NewCustomWindow");
                newDialog.data("kendoWindow").close();
                editDialog = $("#EditCustomWindow");
                editDialog.data("kendoWindow").close();
                deleteDialog = $("#DeleteCustomWindow");
                deleteDialog.data("kendoWindow").close();
                $('#btnCancelAdd').click(function () { newDialog.data("kendoWindow").close(); });
                $('#btnCancelEdit').click(function () { editDialog.data("kendoWindow").close(); });
                $('#btnCancelDelete').click(function () { deleteDialog.data("kendoWindow").close(); });
            });
            function onDragOrgTreeView(e) {
                console.log("Dragging " + this.text(e.sourceNode));
            }

            function onDropOrgTreeView(e) {
                if (e.valid) {
                    if (!confirm("Do you want to Move this?")) {
                        e.preventDefault();
                    }
                    else {
                        var url = "/OrganisationHierarchy/ChangeParentNode";
                        var $post = $.post(url, { nodeId: e.sourceNode.dataset.id, targetNodeId: e.destinationNode.dataset.id }, function (data) {
                        });

                        $post.success(function () {
                            editDialog.data("kendoWindow").close();
                            var tree = $("#treeview").data("kendoTreeView");
                            tree.dataSource.read();
                            tree.expand(".k-item");
                            window.location = "/OrganisationHierarchy/Index";
                            return;
                        });
                        $post.error(function () {
                            alert("Unable to perform action...");
                            editDialog.data("kendoWindow").close();
                            return;
                        });
                    }
                }
            }

            $("#btnUpdate").on("click", function () {
                debugger;
                var ObjectData = $("#treeview").data("kendoTreeView").options.dataSource.data;
                var id = JSON.stringify(ObjectData);
                console.log('jsonString is ' + id);
            });

            $("#treeview").on('mousedown', '.k-in', function (event) {
                if (event.which === 3) {
                    $("#Menu").hide();
                    event.stopPropagation(); // to avoid propagation of this event to the root of the treeview
                    $("#treeview").data("kendoTreeView").select(this);
                    selectedItem = $(".k-state-selected").text();
                }
            });
            function AddNode() {
                var url = "/OrganisationHierarchy/AddNode";
                var $post = $.post(url, { txtNode: $("#txtNewNode").val(), parentId: $('.k-state-selected').parent().parent()[0].attributes[0].nodeValue }, function (data) {
                });
                $post.success(function () {
                    newDialog.data("kendoWindow").close();
                    var tree = $("#treeview").data("kendoTreeView");
                    tree.dataSource.read();
                    tree.expand(".k-item");
                    window.location = "/OrganisationHierarchy/Index";
                });
                $post.error(function () {
                    alert("Unable to perform action...");
                    newDialog.data("kendoWindow").close();
                    return;
                });
            }

            function UpdateNode() {
                if (!confirm("Do you want to Update this?")) {
                    e.preventDefault();
                } else {
                    var url = "/OrganisationHierarchy/UpdateNode";
                    var $post = $.post(url, { txtOldName: $('.k-state-selected').text(), txtNewName: $('#txtEditNode').val() }, function (data) {
                    });

                    $post.success(function () {
                        editDialog.data("kendoWindow").close();
                        var tree = $("#treeview").data("kendoTreeView");
                        tree.dataSource.read();
                        tree.expand(".k-item");
                        window.location = "/OrganisationHierarchy/Index";
                        return;
                    });
                    $post.error(function () {
                        alert("Unable to perform action...");
                        editDialog.data("kendoWindow").close();
                        return;
                    });
                }
            }

            function DeleteNode() {
                if (!confirm("Do you want to delete this?")) {
                    e.preventDefault();
                } else {
                    var url = "/OrganisationHierarchy/DeleteNode";
                    var $post = $.post(url, { txtNode: $('.k-state-selected').text() }, function (data) {
                    });

                    $post.success(function () {
                        deleteDialog.data("kendoWindow").close();
                        var tree = $("#treeview").data("kendoTreeView");
                        tree.dataSource.read();
                        tree.expand(".k-item");
                        window.location = "/OrganisationHierarchy/Index";
                        return;
                    });
                    $post.error(function () {
                        alert("Unable to perform action...");
                        deleteDialog.data("kendoWindow").close();
                        return;
                    });
                }
            }

            function SelectedContextMenu(e) {
                debugger;
                var selectedOption = $(e.item).children(".k-link").text();
                switch (selectedOption) {
                    case "New":
                        newDialog.data("kendoWindow").center();
                        newDialog.data("kendoWindow").open();
                        //$("#hdnParentId").val(selectedItem);
                        break;
                    case "Edit":
                        editDialog.data("kendoWindow").center();
                        editDialog.data("kendoWindow").open();
                        $('#txtEditNode').val($('.k-state-selected').text());
                        break;
                    case "Delete":
                        deleteDialog.data("kendoWindow").center();
                        deleteDialog.data("kendoWindow").open();
                        $('#txtDelNode').val($('.k-state-selected').text());
                        break;
                }
            }
        </script>

    }*@

@model IEnumerable<NIMBOLE.Models.Models.EmployeeDisplayModel>
@{

    <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1411/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jszip.min.js")"></script>

    <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.core.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/kendo.aspnetmvc.min.js")"></script>

    <script src="~/OrgScript/getorgchart.js"></script>
    <link href="~/OrgScript/getorgchart.css" rel="stylesheet" />

}


@using Kendo.Mvc.UI.Fluent
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@NIMBOLE.GlobalResources.Resources.OrganizationHierarchy</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @*Organization Hierarchy.*@
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 form-group">


                        <div id="people"></div>



                        @*<figure class="org-chart cf">
                                                        <ul class="administration">

                                                            @if (Model != null)
                                                            {
                                                                foreach (var item in Model)
                                                                {
                                                                    <li>
                                                                        <ul class="director">
                                                                            <li>
                                @{
                                                                                for (int i = 0; i < item.LevelDepth; i++)
                                                                                {
                                                                                    if(item.ParentId==1)
                                                                                    {
                                                                                        <ul class="subdirector">
                                                                                            <li>
                                                                                                <a href="#"><span>@item.OrgFullName</span></a>
                                                                                                </li>
                                                                                            </ul>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <a href="#"><span>@item.OrgFullName</span></a>
                                                                                    }

                                                                                }
                            }

                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>


                                                                }
                                                            }

                                                        </ul>
                                                    </figure>*@

                        @*<table>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {

                                            <tr>
                                                <td align="center">
                                                    <table border="1" style="border-color:blue">
                                                        <tr>
                                                            @{
                                            for (int i = 0; i < item.LevelDepth; i++)
                                            {
                                                <td align="center">  @item.Id &nbsp; @item.OrgFullName &nbsp; @item.ParentId</td>
                                            }
                                                            }
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>*@



                        @*@if (Model != null)
                            {

                                foreach (var item in Model)
                                {

                                    <ul>
                                        <li>

                                            @{
                                    for (int i = 0; i < item.LevelDepth; i++)
                                        <ul>
                                            {
                                            <li>@i @item.OrgFullName</li>
                                            }
                                        </ul>
                                            }
                                        </li>
                                    </ul>
                                }

                            }*@

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<script type="text/ecmascript" defer="defer">

                           var myArray = [];
                            myArray= '@Html.Raw(Json.Encode(Model))';

                          @*myArray=myArray.replace(/"(\w+)"\s*:/g, '$1:');*@

                            $("#people").getOrgChart({
                                theme: "monica",
                                primaryColumns: ["Name", "Title"],
                                imageColumn: "image",                                
                                dataSource: jQuery.parseJSON(myArray) ,
                                boxesColor: [
                                    {color:"blue"},
                                    { id: 1, color: "blue" }
                                ]

                            });

 
</script>
   <script>
       $(document).ready(function () {
           //$('.get-data').attr("disabled", "disabled")

           //var readOnlyAttr = $('.get-data').attr('readonly');
           //if (typeof readOnlyAttr !== 'undefined' && readOnlyAttr !== false) {
           //    $('.get-data').addClass('locked');
           //}

           //$('.get-org-chart input').attr('readonly', 'readonly');
       });
   </script>

<style type="text/css">
    html, body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #people {
        width: 100%;
        height: 100%;
    }
</style>

@*<style>
               * {
                   -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                   box-sizing: border-box;
                   position: relative;
               }

               .cf:before,
               .cf:after {
                   content: " "; /* 1 */
                   display: table; /* 2 */
               }

               .cf:after {
                   clear: both;
               }

               /**
        * For IE 6/7 only
        * Include this rule to trigger hasLayout and contain floats.
        */
               .cf {
                   *zoom: 1;
               }

               /* Generic styling */

               body {
                   background: #F5EEC9;
               }

               .content {
                   width: 100%;
                   max-width: 1142px;
                   margin: 0 auto;
                   padding: 0 20px;
               }

               a:focus {
                   outline: 2px dashed #f7f7f7;
               }

               media all and (max-width: 767px) {
                   .content;

               {
                   padding: 0 20px;
               }

               }

               ul {
                   padding: 0;
                   margin: 0;
                   list-style: none;
               }

                   ul a {
                       display: block;
                       background: #ccc;
                       border: 4px solid #fff;
                       text-align: center;
                       overflow: hidden;
                       font-size: .7em;
                       text-decoration: none;
                       font-weight: bold;
                       color: #333;
                       height: 70px;
                       margin-bottom: -26px;
                       box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
                       -webkit-transition: all linear .1s;
                       -moz-transition: all linear .1s;
                       transition: all linear .1s;
                   }


               media all and (max-width: 767px) {
                   ul a;

               {
                   font-size: 1em;
               }

               }


               ul a span {
                   top: 50%;
                   margin-top: -0.7em;
                   display: block;
               }

               /*

        */

               .administration > li > a {
                   margin-bottom: 25px;
               }

               .director > li > a {
                   width: 50%;
                   margin: 0 auto 0px auto;
               }

               .subdirector:after {
                   content: "";
                   display: block;
                   width: 0;
                   height: 130px;
                   background: red;
                   border-left: 4px solid #fff;
                   left: 45.45%;
                   position: relative;
               }

               .subdirector,
               .departments {
                   position: absolute;
                   width: 100%;
               }

                   .subdirector > li:first-child,
                   .departments > li:first-child {
                       width: 18.59894921190893%;
                       height: 64px;
                       margin: 0 auto 92px auto;
                       padding-top: 25px;
                       border-bottom: 4px solid white;
                       z-index: 1;
                   }

                   .subdirector > li:first-child {
                       float: right;
                       right: 27.2%;
                       border-left: 4px solid white;
                   }

                   .departments > li:first-child {
                       float: left;
                       left: 27.2%;
                       border-right: 4px solid white;
                   }

                       .subdirector > li:first-child a,
                       .departments > li:first-child a {
                           width: 100%;
                       }

                   .subdirector > li:first-child a {
                       left: 25px;
                   }

               media all and (max-width: 767px) {
                   .subdirector > li:first-child, .departments > li:first-child;

               {
                   width: 40%;
               }

               .subdirector > li:first-child {
                   right: 10%;
                   margin-right: 2px;
               }

               .subdirector:after {
                   left: 49.8%;
               }

               .departments > li:first-child {
                   left: 10%;
                   margin-left: 2px;
               }

               }


               .departments > li:first-child a {
                   right: 25px;
               }

               .department:first-child,
               .departments li:nth-child(2) {
                   margin-left: 0;
                   clear: left;
               }

               .departments:after {
                   content: "";
                   display: block;
                   position: absolute;
                   width: 81.1%;
                   height: 22px;
                   border-top: 4px solid #fff;
                   border-right: 4px solid #fff;
                   border-left: 4px solid #fff;
                   margin: 0 auto;
                   top: 130px;
                   left: 9.1%;
               }

               media all and (max-width: 767px) {
                   .departments:after;

               {
                   border-right: none;
                   left: 0;
                   width: 49.8%;
               }

               }

               media all and (min-width: 768px) {
                   .department:first-child:before, .department:last-child:before;

               {
                   border: none;
               }

               }

               .department:before {
                   content: "";
                   display: block;
                   position: absolute;
                   width: 0;
                   height: 22px;
                   border-left: 4px solid white;
                   z-index: 1;
                   top: -22px;
                   left: 50%;
                   margin-left: -4px;
               }

               .department {
                   border-left: 4px solid #fff;
                   width: 18.59894921190893%;
                   float: left;
                   margin-left: 1.751313485113835%;
                   margin-bottom: 60px;
               }

               .lt-ie8 .department {
                   width: 18.25%;
               }

               media all and (max-width: 767px) {
                   .department;

               {
                   float: none;
                   width: 100%;
                   margin-left: 0;
               }

               .department:before {
                   content: "";
                   display: block;
                   position: absolute;
                   width: 0;
                   height: 60px;
                   border-left: 4px solid white;
                   z-index: 1;
                   top: -60px;
                   left: 0%;
                   margin-left: -4px;
               }

               .department:nth-child(2):before {
                   display: none;
               }

               }

               .department > a {
                   margin: 0 0 -26px -4px;
                   z-index: 1;
               }

                   .department > a:hover {
                       height: 80px;
                   }

               .department > ul {
                   margin-top: 0px;
                   margin-bottom: 0px;
               }

               .department li {
                   padding-left: 25px;
                   border-bottom: 4px solid #fff;
                   height: 80px;
               }

                   .department li a {
                       background: #fff;
                       top: 48px;
                       position: absolute;
                       z-index: 1;
                       width: 90%;
                       height: 60px;
                       vertical-align: middle;
                       right: -1px;
                       background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
                       background-image: -moz-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%) !important;
                       background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))) !important;
                       background-image: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%) !important;
                       background-image: -o-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%) !important;
                       background-image: -ms-linear-gradient(-45deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%) !important;
                       background-image: linear-gradient(135deg, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%) !important;
                       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 );
                   }

                       .department li a:hover {
                           box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);
                           height: 80px;
                           width: 95%;
                           top: 39px;
                           background-image: none !important;
                       }

               /* Department/ section colors */
               .department.dep-a a {
                   background: #FFD600;
               }

               .department.dep-b a {
                   background: #AAD4E7;
               }

               .department.dep-c a {
                   background: #FDB0FD;
               }

               .department.dep-d a {
                   background: #A3A2A2;
               }

               .department.dep-e a {
                   background: #f0f0f0;
               }
    </style>*@