@model NIMBOLE.Models.Models.MilestoneModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Milestone", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     <div class="form-group">
            @*<h1 class="page-header">@NIMBOLE.GlobalResources.Resources.Milestone</h1>*@
            <div class="col-md-12">
                <div class="block-header bg-info">
                    <h3 class="block-title"> @NIMBOLE.GlobalResources.Resources.Milestone </h3>
                </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="form-group">
        <div class="col-sm-6">
                <label for="MilestoneCode">
                    @NIMBOLE.GlobalResources.Resources.MilestoneCode
                </label>
                @Html.TextBoxFor(m => m.Code, new { @placeholder = @NIMBOLE.GlobalResources.Resources.MilestoneCode, @class = "form-control", @tabindex = "1", @minlength = 1, @maxlength = 25 })
        </div>
        <div class="col-sm-6">
            <label for="MilestoneDescription">
                @NIMBOLE.GlobalResources.Resources.Description <span class="text-danger">*</span>
                </label>
                @Html.TextBoxFor(m => m.Description, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Description, @class = "form-control firstAlphabetOnly", @tabindex = "2", @minlength = 1, @maxlength = 500 })
        </div>
    </div>

    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        <div class="col-xs-6">
                @Html.HiddenFor(m => m.MSOrder)
                <div id="divStages" class="form-group" tabindex="3">
            </div>
        </div>
        <div class="col-xs-6">
            <label for="InputMilestoneStatus">
                @NIMBOLE.GlobalResources.Resources.Status
            </label>
            @Html.CheckBoxFor(m => m.Status, new { @checked = "checked", @tabindex = "4" })
            <label>
                @NIMBOLE.GlobalResources.Resources.ActiveInactive
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="text-align: right;">
            @*<button id="btnSubmit" class="btn btn-sm btn-info" type="submit" tabindex="4"><i class="fa fa-send push-5-r"></i>@NIMBOLE.GlobalResources.Resources.Save</button>
                <button class="btn btn-sm btn-info" onclick="location.href = '/Milestone/Index'" tabindex="5"><i class="fa fa-send push-5-r"></i> @NIMBOLE.GlobalResources.Resources.Cancel </button>*@
            <input type="button" id="btnSubmit" class="btn btn-success" value=@NIMBOLE.GlobalResources.Resources.Save tabindex="6">
            <input type="button" value=@NIMBOLE.GlobalResources.Resources.Cancel class="btn btn-danger" onclick="location.href = '/Milestone/Index'" tabindex="7" />
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var url = '/MilestoneStages/GetMilestoneStageList';
            $.getJSON(url, function (data) {
                $.each(data, function (key, val) {
                    switch (key) {
                        case 0:
                            if (val.Id == '@Model.MSOrder') {
                                var user = "<label style='width:45%;'><input type='radio' id='" + val.Id + "' onClick='javascript:checkboxClick(this)' name='SelectedModule' value='" + val.Id + "' checked> " + val.MileStoneStage + " </input></label>"
                            }
                            else {
                                var user = "<label style='width:45%;'><input type='radio' id='" + val.Id + "' onClick='javascript:checkboxClick(this)' name='SelectedModule' value='" + val.Id + "'> " + val.MileStoneStage + " </input></label>"

                            }
                            break;
                        case 1:
                            if (val.Id == '@Model.MSOrder') {
                                var user = "<label style='width:25%;'><input type='radio' id='" + val.Id + "' onClick='javascript:checkboxClick(this)' name='SelectedModule' value='" + val.Id + "' checked> " + val.MileStoneStage + " </input></label>"
                            }
                            else {
                                var user = "<label style='width:25%;'><input type='radio' id='" + val.Id + "' onClick='javascript:checkboxClick(this)' name='SelectedModule' value='" + val.Id + "'> " + val.MileStoneStage + " </input></label>"

                            }
                            break;
                        case 2:
                            if (val.Id == '@Model.MSOrder') {
                                var user = "<label style='width:30%;'><input type='radio' id='" + val.Id + "' onClick='javascript:checkboxClick(this)' name='SelectedModule' value='" + val.Id + "' checked> " + val.MileStoneStage + " </input></label>"
                            }
                            else {
                                var user = "<label style='width:30%;'><input type='radio' id='" + val.Id + "' onClick='javascript:checkboxClick(this)' name='SelectedModule' value='" + val.Id + "'> " + val.MileStoneStage + " </input></label>"

                            }
                            break;
                    }
                    $('#divStages').append(user);
                });
            });
        });

        function checkboxClick(e) {
            var $box = $(e);
            if ($box.is(":checked")) {
                var group = "input:radio[name='" + $box.attr("name") + "']";
                $(group).prop("checked", false);
                $box.prop("checked", true);
                $('#MSOrder').val(e.value);
                // $('#divStages').val(e.value);
            } else {
                $box.prop("checked", false);
                //  $('#divStages').val(0);
                $('#MSOrder').val(0);
            }
            //alert($('#LeadStage').val());
        }
    </script>
    
    @*<script>
        $('#btnSubmit').click(function (e) {
            if ($("#Description").val() === "") {
                alert("Please enter description");
                this.disabled = false;
            }
            else {
                this.disabled = true;
                $('form')[0].submit();
            }
        });
    </script>*@


  <script>
    var listcontrols = {
        "Description": "true,allcharacters,1,100"
    };

    $(document).ready(function () {
        $('#btnSubmit').click(function (e) {
            if (listcontrols) {
                var flag = 0;
                var texttype = "";
                $.each(listcontrols, function (key, value) {

                    texttype = value.split(',')[1];
                    var element = $('#' + key);
                    if (texttype == "select") {
                        if (typeof element.prev().attr('style') !== typeof undefined) {
                            element.prev().removeAttr("style");
                        }
                    }
                    if (validateControl(key, value.split(',')[0], value.split(',')[1], value.split(',')[2], value.split(',')[3]) == false) {
                        flag = flag + 1;
                    }
                });

                if (flag != 0) {
                    this.disabled = false;
                    return false;
                }
                else {
                    this.disabled = true;
                    $('form')[0].submit();
                }
            }
        });
    });
    </script>




    <script>
        $(document).ready(function () {
            if ('@Model.Code' === 'OpCode' || '@Model.Code' === 'Deal')
                $('#Code').attr('readonly', 'readonly');
        });
    </script>
}
