@model NIMBOLE.Models.Models.CompetitorModel
@using Kendo.Mvc.UI;

<div class="container">
    <div class="row">
        <div class="col-md-11" style="margin-left:100px;">
            <header class="row head-tag">
                <h2 class="col-md-6">@NIMBOLE.GlobalResources.Resources.NewCompetitor</h2>
            </header>

            <div class="row">
                <div class="col-md-5 col-xs-5 form-group">
                    <label for="InputLeadId">
                        @NIMBOLE.GlobalResources.Resources.Name
                    </label>
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Name, @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LeadId)
                </div>
            </div>
            <div class="row">

                <div class="col-md-5 col-xs-5 form-group">
                    <label for="InputDiscountDate">
                        @NIMBOLE.GlobalResources.Resources.Type
                    </label>
                    @Html.TextBoxFor(model => model.Type, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Type , @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type)
                </div>
                <!--md-4-xs-6-->
            </div>

            <div class="row">
                <div class="col-md-5 col-xs-5 form-group">
                    <label for="InputPrice">
                        @NIMBOLE.GlobalResources.Resources.Leads
                    </label>
                    @(Html.Kendo().DropDownListFor(model => model.LeadId)
                            .HtmlAttributes(new { @style = "width: 100%;" })
                            .DataTextField("Name")
                            .DataValueField("Id")
                            .OptionLabel("Select")
                            .AutoBind(true)
                            
                            //.DataSource(source =>
                            //{
                            //    source.Read(read => { read.Url("/api/Leads/SelectAllLeads").Type(HttpVerbs.Get); });
                            //    source.ServerFiltering(true);
                            //})
                            
                            
                    )
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5 form-group">
                    <label for="InputSelectEmployee">
                        @NIMBOLE.GlobalResources.Resources.Products
                    </label>
                    @(Html.Kendo().DropDownListFor(model => model.ProductId)
                            .HtmlAttributes(new { @style = "width: 100%;" })
                            .DataTextField("ProductName")
                            .DataValueField("Id")
                            .OptionLabel("Select")
                            .AutoBind(true)
                            .DataSource(source =>
                                    {
                                        source.Read(read => read.Action("GetProductNames", "Products"));
                                        source.ServerFiltering(true);
                                    })
                            //.DataSource(source =>
                            //{
                            //    source.Read(read => { read.Url("/api/Products/SelectAllProducts").Type(HttpVerbs.Get); });
                            //    source.ServerFiltering(true);
                            //})
                    )
                    @Html.ValidationMessageFor(m => m.ProductId)
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-xs-5 form-group">
                    <label for="InputPrice">
                        @NIMBOLE.GlobalResources.Resources.Quantity
                    </label>
                    @Html.TextBoxFor(model => model.Quantity, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Quantity, @class = "form-control" })

                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5 form-group">
                    <label for="InputPrice">
                        @NIMBOLE.GlobalResources.Resources.Price
                    </label>
                    @Html.TextBoxFor(model => model.Price, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Price, @class = "form-control" })

                </div>

            </div>

            <div class="row">
                <div class="col-md-5 col-xs-5 form-group" style="text-align: right;">
                    <input type="submit" class="btn btn-success" value="Save">
                    <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href = '/Competitor/Index'" />
                </div>
            </div>

        </div>
    </div>
</div>

