@model NIMBOLE.Models.Models.EmployeeTaskModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "MasterTask", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="block-header bg-info">
                <h3 class="block-title">MasterTask</h3>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <label for="InputForTitle">
                @NIMBOLE.GlobalResources.Resources.Title <span class="field-validation-error">*</span>
            </label>
            @Html.TextBoxFor(m => m.Title, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Title, @class = "form-control", @tabindex = "1", @minlength = 1, @maxlength = 25 })
        </div>
        <div class="col-sm-6">
            <label for="InputType">
                @NIMBOLE.GlobalResources.Resources.Type
            </label>
            @Html.TextBoxFor(m => m.Type, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Type, @class = "form-control firstAlphabetOnly", @tabindex = "2", @minlength = 1, @maxlength = 50 })
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 form-group">
            <label for="Comments">
                @NIMBOLE.GlobalResources.Resources.Comments
            </label>
            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @style = "width:100%;height:100px;resize:none;", maxlength = 500, @tabindex = "6" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1">
            <div class="form-material">
                <label>
                    @NIMBOLE.GlobalResources.Resources.Status
                    @Html.CheckBoxFor(m => m.Status, new { @checked = "checked", @tabindex = "3" })
                </label>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="form-material">
                <label>
                    @NIMBOLE.GlobalResources.Resources.ActiveInactive
                </label>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="text-align: right;">
            <br />
            <input id="btnSubmit" type="button" class="btn btn-success" value=@NIMBOLE.GlobalResources.Resources.Update tabindex="4">
            <input type="button" value=@NIMBOLE.GlobalResources.Resources.Cancel class="btn btn-danger" onclick="location.href = '/MasterTask/Index'" tabindex="4" />
        </div>
    </div>

    <script>
        //Script for Validation
        var listcontrols = {
            "Title": "true,allcharacters,1,100"
        };
        $(document).ready(function () {
            $('#btnSubmit').click(function (e) {
                if (listcontrols) {
                    var flag = 0;
                    var texttype = "";
                    $.each(listcontrols, function (key, value) {
                        texttype = value.split(',')[1];
                        var element = $('#' + key);
                        if (texttype == "select") {
                            if (typeof element.prev().attr('style') !== typeof undefined) {
                                element.prev().removeAttr("style");
                            }
                        }
                        if (validateControl(key, value.split(',')[0], value.split(',')[1], value.split(',')[2], value.split(',')[3]) == false) {
                            flag = flag + 1;
                        }
                    });
                    //$('#ReferenceIds').attr("style", "width:100%;display:none;");
                    if (flag != 0) {
                        this.disabled = false;
                        return false;
                    }

                    else {
                        this.disabled = true;
                        $('form')[0].submit();
                    }
                }
            });
        });
    </script>
}
