@model IEnumerable<NIMBOLE.Models.Models.LanguageModel>
@{
    ViewBag.Title = "NIMBOLE | List Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@NIMBOLE.GlobalResources.Resources.NewLanguage</h2>

@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span12">
            <div class="span12 form-horizontal well">
                <div class="row-fluid">
                    <div class="span12">
                        <a href="~/Language/Create">
                            <button class="btn btn-success" type="button">@NIMBOLE.GlobalResources.Resources.New</button>
                        </a>
                       
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        @(Html.Kendo().Grid<NIMBOLE.Models.Models.LanguageModel>()
                            .Name("GridLanguage")
                            .Columns(columns =>
                            {
                                columns.Bound(m => m.Id).Width(20).Title(@NIMBOLE.GlobalResources.Resources.Id);
                                columns.Bound(m => m.Code).Width(70).Title(@NIMBOLE.GlobalResources.Resources.ShortCode);
                                columns.Bound(m => m.LanguageName).Width(70).Title(@NIMBOLE.GlobalResources.Resources.LanguageName);
                                columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit", "Language") + "/#=Id#'>" + @NIMBOLE.GlobalResources.Resources.Edit + "</a>").HtmlAttributes(new { style = "text-align: center;" }).Width(50);
                                columns.Template(@<text></text>).ClientTemplate("<a href='javascript:deleteRecord(#=Id#)'>" + @NIMBOLE.GlobalResources.Resources.Delete + "</a>").HtmlAttributes(new { style = "text-align:center;" }).Width(70);
                            })
            .Pageable()
            .Sortable()
            .DataSource(datasource => datasource
                .Ajax()
                .PageSize(20)
                .Sort(e => e.Add("Id").Descending())
                .Model(model => model.Id(m => m.Id))
                .Read(read => read.Action("Language_Read", "Language"))
            )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function deleteRecord(id) {
            debugger;
            var deleteconfirm = confirm("Are you sure you want to delete an item?");
            if (deleteconfirm == true) {
                var delUrl = 'http://localhost:13869/api/Languages/Delete?id=' + id;
                console.log(delUrl);
                jQuery.ajax({
                    url: delUrl,
                    //type: 'POST',
                    type: 'DELETE',
                    contentType: 'application/json',
                    //data: JSON.stringify({ Id: id }),
                    success: function (data) {
                        removeprocessicon('Delete');
                        alert("Record deleted successfully!");
                    }

                });
            }
            else
                return false;
        }
        function removeprocessicon(mode) {
            $("#GridLanguage").data("kendoGrid").dataSource.read();
        }
    </script>
}
