@model NIMBOLE.Models.Models.MilestoneStageModel
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm("Create", "MilestoneStages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@NIMBOLE.GlobalResources.Resources.Milestone</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @*Form to create New Milestonestage.*@
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="InputLeadMileStoneStage">
                                    @NIMBOLE.GlobalResources.Resources.Stage
                                </label>
                                @Html.TextBoxFor(model => model.MileStoneStage, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Stage, @class = "form-control", @tabindex = "1" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    @NIMBOLE.GlobalResources.Resources.EmployeeRole
                                </label>
                                @(Html.Kendo().MultiSelectFor(model => model.Roles)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .Placeholder("Select - (MultiSelect)")
                                            .HtmlAttributes(new { @style = "width:100%", @tabindex = "2" })
                                            .AutoBind(true)
                                            .BindTo(ViewData["EmpRoles"] as SelectList)
                                )
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12" style="text-align: right;">
                            <input id="btnSubmit" type="submit" class="btn btn-success" value=@NIMBOLE.GlobalResources.Resources.Save tabindex="3">
                            <input type="button" value=@NIMBOLE.GlobalResources.Resources.Cancel class="btn btn-danger" onclick="location.href = '/MilestoneStages/Index'" tabindex="4" />
                            <br />

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

}
       


