@model NIMBOLE.Models.Models.LeadTransactionInfoModel
@using Kendo.Mvc.UI;
@using NIMBOLE.Entities;
@{
    var val = Json.Encode(Model);
    long iLeadId = Convert.ToInt64(Session["CurrentLeadId"]);
    string employeeName = Session["EmployeeName"].ToString();
    string DateFormat = System.Web.HttpContext.Current.Session["DateFormat"].ToString();
    string currency = System.Web.HttpContext.Current.Session["Currency"].ToString();
}




        <div id="divEditTransaction" style="padding: 0px 0px 0px 20px;">
           
            <div class="row">
                <div class="col-lg-11">

                    <div class="row">
                        @*Left Column*@
                        <div class="col-lg-5">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.LeadId)
                            <div class="form-group">
                                <label for="InputTransaction">
                                    @NIMBOLE.GlobalResources.Resources.Name
                                </label>
                                @Html.TextBoxFor(model => model.TransName, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Name, @class = "k-textbox", @style = "width:100%;", @tabindex = "1" })
                            </div>
                            <div class="form-group">
                                <label for="InputPlateNumber">
                                    @NIMBOLE.GlobalResources.Resources.PlateNumber
                                </label>
                                @Html.TextBoxFor(model => model.PlateNumber, new { @placeholder = @NIMBOLE.GlobalResources.Resources.PlateNumber, @class = "k-textbox", @style = "width:100%;", @tabindex = "3" })
                            </div>
                            <div class="form-group">
                                <label for="InputBPKBNumber">
                                    @NIMBOLE.GlobalResources.Resources.BPKBNumber
                                </label>
                                @Html.TextBoxFor(model => model.BPKBNumber, new { @placeholder = @NIMBOLE.GlobalResources.Resources.BPKBNumber, @class = "k-textbox", @style = "width:100%;", @tabindex = "5" })
                            </div>

                        </div>

                        @*Right Column*@
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="InputAddress">
                                    @NIMBOLE.GlobalResources.Resources.Address1
                                </label>
                                @Html.TextAreaFor(model => model.Address, new { @placeholder = @NIMBOLE.GlobalResources.Resources.Address1, @class = "k-textbox", @style = "width:100%;", @tabindex = "2" })
                            </div>
                            <div class="form-group">
                                <label for="InputObject">
                                    @NIMBOLE.GlobalResources.Resources.ObjectId
                                </label>
                                @Html.TextBoxFor(model => model.ProductId, new { @placeholder = @NIMBOLE.GlobalResources.Resources.ObjectId, @class = "k-textbox", @style = "width:100%;", @tabindex = "4" })
                            </div>
                            <div class="form-group">
                                <label for="InputTenor">
                                    @NIMBOLE.GlobalResources.Resources.TenorScheme
                                </label>
                                @*@Html.TextBoxFor(model => model.objLeadTransactionInfoModel.TenorScheme, new { @placeholder = @NIMBOLE.GlobalResources.Resources.TenorScheme, @class = "k-textbox", @style = "width:100%;" })*@
                                @(Html.Kendo().DropDownListFor(model => model.TenorScheme)
                                        .HtmlAttributes(new { @style = "width: 100%;", @tabindex = "6" })
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .OptionLabel(@NIMBOLE.GlobalResources.Resources.Select)
                                        .AutoBind(true)
                                        .BindTo(new List<SelectListItem>() {
                                             new SelectListItem() {
                                              Text = "<1 Month",
                                              Value = "0"
                                          },
                                          new SelectListItem()
                                          {
                                              Text = "1 Month",
                                              Value = "1"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "2 Month",
                                              Value = "2"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "3 Month",
                                              Value = "3"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "4 Month",
                                              Value = "4"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "5 Month",
                                              Value = "5"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "6 Month",
                                              Value = "6"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "7 Month",
                                              Value = "7"
                                          }
                                          ,
                                          new SelectListItem()
                                          {
                                              Text = "8 Month",
                                              Value = "8"
                                          }
                                           ,
                                          new SelectListItem()
                                          {
                                              Text = "9 Month",
                                              Value = "9"
                                          }
                                           ,
                                          new SelectListItem()
                                          {
                                              Text = "10 Month",
                                              Value = "10"
                                          }
                                           ,
                                          new SelectListItem()
                                          {
                                              Text = "11 Month",
                                              Value = "11"
                                          }
                                           ,
                                          new SelectListItem()
                                          {
                                              Text = "12 Month",
                                              Value = "12"
                                          }
                                      })
                                )

                            </div>
                        </div>
                        
                        <br />                      

                        <div class="col-lg-5 form-group">
                            <div class="form-group">
                                <label for="DocumentUploads">
                                    @NIMBOLE.GlobalResources.Resources.Transaction @NIMBOLE.GlobalResources.Resources.Documents
                                </label>
                                @(Html.Kendo().Upload()
                                    .Name("files")
                                    .TemplateId("transactionFileTemplate")
                                    .Async(a => a
                                        .Save("CreateDocuments", "Leads", new { DocType = "Transaction" })
                                        .Remove("Remove", "Upload")
                                        .AutoUpload(false)
                                        .Batch(true)
                                    )
                                )
                            
                            </div>
                        </div>
                        <br />
                        
                    </div>
                </div>
            </div>
</div>

